<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TP4_enonce/src/main/java/com/soprasteria/academy/tp4/TP4Lanceur.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.soprasteria.academy.tp4.TP4Lanceur"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TP4_enonce"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=monitor&#13;&#10;-Dtp4JobID.tp4StepID.skip-limit=3&#13;&#10;-Dorg.slf4j.simpleLogger.log.StepListener=debug&#13;&#10;-Dorg.slf4j.simpleLogger.log.SkipListener=debug"/>
</launchConfiguration>
